body {
  margin: 0;
  font-family: Cormorant, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.modal-dialog {
  margin-inline: auto !important;
  max-width: 520px !important;
}

input[type='file']::-webkit-file-upload-button {
  color: #5a67ff;
}

tr {
  vertical-align: middle;
}

.form-check-input {
  padding: 0;
}

.react-calendar__year-view__months__month:hover {
  border-radius: 0%;
  border: 2px solid #5a68fe;
}

.react-calendar__month-view__weekdays {
  margin-block: 12px;
}
.react-calendar__month-view__weekdays abbr {
  font-size: 14px !important;
}

.react-calendar__tile--active {
  background: #5a68fe !important;
  color: white;
  border-radius: 50%;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: center;
  text-decoration: none !important;
}

abbr[title] {
  text-decoration: none !important;
}

.react-datepicker__day--outside-month {
  visibility: hidden !important;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  background: #2d363c;
  width: 50px;
  height: 50px;
  color: #fff;
  border: none;
}

.react-calendar__month-view__days__day:hover {
  background: #5a68fe;
  border-radius: 50%;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__label,
.react-calendar__navigation__next-button {
  background: transparent;
  color: #fff;
  border: none;
}
.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
  border: 2px solid #444e82;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
}

input[type='file']::file-selector-button {
  border: none;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: transparent;
  transition: 1s;
  cursor: pointer;
}

.carousel-indicators > button {
  background-color: darkgrey !important;
}

.delete-modal {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 23rem !important; /* Need a specific value to work */
}

@media screen and (min-width: 720px) {
  .delete-modal {
    width: 40rem !important; /* Need a specific value to work */
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield; /* Firefox */
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 7px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding-right: 2rem;
  cursor: pointer;
}

video {
  filter: brightness(50%);
}

a[href^="http://maps.google.com/maps"]
{
  display: none !important;
}
a[href^="https://maps.google.com/maps"]
{
  display: none !important;
}
